@import "src/App";

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black1;

  height: 100%;
  width: 100%;

  .login-container {
    padding: 30px;
    background-color: white;
    border-radius: 6px;

    .login-form {
      max-width: 300px;
    }
    .login-form-forgot {
      float: right;
      margin-left: 15px;
    }
    .ant-col-rtl .login-form-forgot {
      float: left;
    }
    .login-form-button {
      width: 100%;
    }
  }
}